body {
  margin: 0;
}

#quill-container {
  width: 30rem;
  height: 30rem;
  position: absolute;
  margin-top: 9rem;
  margin-left: 18rem;
  background-color: #fffa5c;
}

#quill-container2 {
  width: 30rem;
  height: 30rem;
  position: absolute;
}
